.header{
    padding: 2em 0 2.0em;
    margin:0;

    
}
.header.pic{
    display: flex;
   justify-content: center;
   
}
img{
       width: 480px;
      
   }
body{
    background: url(pics/purple-corn.jpg);
    background-size: inherit ;
    background-repeat: no-repeat;
}

nav{
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0;
    text-align: center;
   
}



nav ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
nav li{
    display: inline-block;
    margin: 0;

}
nav li a, nav li a:visited{
    text-decoration: none;
    color: white;
    padding: 0.3em 0.6em;

}
nav li a:hover{
    color: lightseagreen;
    background-color: rgba(252, 251, 243, 0.75);
}
.AboutMecontentWrapper{
    float: left;
    position: relative;
    width: 600px;
    margin: 0 0.5em 2.0em 0.5em;
  color: whitesmoke;
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #212121;
    border: #212121 solid 2em;
    border-radius: 1.3em;
}
.contentWrapper{
    display: flex;
    justify-content: center;
}
footer{
    background-color: #212121;
    height: 25px;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;
    padding: 1em;

}
footer ul#menuFooter{
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;

}
footer ul li{
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}
footer ul li::before{
    content: "| ";
    padding-right: 0.7em;
}
footer a, footer a:visited{
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: lightseagreen;
    text-decoration: underline;
}
